#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        combo_kana {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LANG1>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                   &kp L     &kp U     &kp COMMA  &kp PERIOD   &kp F      &kp W          &kp R    &kp Y      &kp P
&kp E                   &kp I     &kp A     &kp O      &kp TAB      &kp K      &kp T          &kp N    &kp S      &kp H
&mt LEFT_COMMAND MINUS  &kp Z     &kp X     &kp C      &kp V        &kp G      &kp D          &kp M    &kp J      &kp B
&kp LSHFT               &kp LALT  &kp LCMD  &kp SPACE  &lt 1 ENTER  &kp ENTER  &kp BACKSPACE  &kp ESC  &kp RSHFT  &mt LALT SLASH
            >;
        };

        layer1 {
            label = "NUMBER";
            bindings = <
&kp PLUS      &kp N7  &kp N8  &kp N9     &kp QUESTION    &kp LANGUAGE_1  &kp LANG2      &trans    &trans    &trans
&kp MINUS     &kp N4  &kp N5  &kp N6     &kp TAB         &kp LANGUAGE_2  &kp LANG1      &trans    &trans    &trans
&kp ASTERISK  &kp N1  &kp N2  &kp N3     &kp UNDERSCORE  &trans          &trans         &kp LBKT  &kp RBKT  &trans
&kp SLASH     &kp N0  &trans  &kp ENTER  &trans          &kp ENTER       &kp BACKSPACE  &trans    &trans    &trans
            >;
        };

        layer2 {
            label = "FUNCTION";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans        &trans        &trans        &trans        &bt BT_CLR      &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &kp F11  &kp F12  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans          &kp DEL  &trans   &trans  &trans  &trans
            >;
        };

        layer3 {
            label = "MOUSE";
            bindings = <
&trans     &trans  &trans    &trans    &trans  &mkp LCLK  &mkp MB1  &mkp RCLK  &trans  &trans
&trans     &trans  &trans    &trans    &trans  &trans     &trans    &trans     &trans  &trans
&trans     &trans  &trans    &trans    &trans  &trans     &trans    &trans     &trans  &trans
&kp LSHFT  &trans  &kp LCMD  &kp LALT  &to 0   &trans     &trans    &trans     &to 0   &kp RALT
            >;
        };
    };
};
